

*{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root
{
--main-color:#17a2b8;
--writing-color:#fff;

}

body{
    background-color: #24353F;
    color: 1;
}


#header
{
    color: var(--writing-color);   
    width: 100%;
    min-height: 100vh;
}


#header .signin-box
{
    padding-block: 80px;
    width: 75%;
    border: 1px solid transparent;
    box-shadow: 2px 7px 80px  rgba(0,0,0,.3); 
}
#header .signin-box h1
{
    color:var(--main-color);
}
.form-edit
{
    width: 90%;
}
button
{
  color: var(--main-color) !important;
  outline:var(--main-color) !important;
    width: 90%;
}
button:hover
{
  color: var(--writing-color) !important;
}
.frm
{
    color: var(--writing-color) !important;
    background-color: transparent !important;
}
::placeholder
{
color: var(--writing-color) !important;
opacity: .5 !important;
}
.form-control:focus {
    box-shadow: none !important;
    background-color: transparent !important;
}